@import url("https://fonts.googleapis.com/css2?family=Teko:wght@100;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --background: #e9e9e9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Removendo o modo dark automático para forçar sempre o modo claro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e9e9e9;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Teko", Arial, Helvetica, sans-serif;
}
