@import "tailwindcss";

:root {
  --background: #e9e9e9;
  --foreground: #171717;
  --svg-color: #f5f5f5;
  --svg-hover: #d4d4d4;
  --font-primary: var(--font-teko), "Teko", Helvetica, Arial, sans-serif;
  --font-secondary: "Calibri", Arial, sans-serif;
}

/* Removendo o modo dark automático para forçar sempre o modo claro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e9e9e9;
  }
} */

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}

.font-secondary,
.use-font-secondary {
  font-family: var(--font-secondary) !important;
}
