/* 3. formulario que sera um input de pesquisa dentro da content */
.searchForm {
  display: flex;
  width: 100%;
  height: 40px;
  background: #273728;
  border-radius: 2px;
  align-items: center;
  position: relative;

  @media (max-width: 767px) {
    background: var(--background);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: none;
  }
}

/* 4. botão de submit pesquisa dentro do formulario */
.searchButton {
  width: 25px;
  height: 25px;
  margin-left: 10px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover .searchIcon {
    filter: brightness(0.8);
    color: var(--svg-hover);
  }
}

.searchIcon {
  filter: brightness(0) invert(1);
  color: var(--svg-color);
}

/* 5. botão dentro do formulario */
.categoryButton {
  border: 1px solid #4d5f4e;
  /* remova o border bottom e o border top do botao */
  border-top: none;
  border-bottom: none;
  width: 127px;
  height: 28.33px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent; /* deixe o botao transparente */
  color: white;
  cursor: pointer;
  margin-left: 9px;
  position: relative;
  order: 2;
  flex-shrink: 0; /* Impede que o botão encolha */
}

.selectArrow {
  width: 9px;
  height: 10px;
  margin-left: 6px;
  filter: brightness(0) invert(1);
  color: var(--svg-color);
}

/* 6. input */
.searchInput {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-weight: 100;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 2px;
  flex: 1;
  margin-right: 10px;
  padding-right: 8px;
  padding-left: 8px;
  order: 3;
  min-width: 100px;

  @media (max-width: 767px) {
    background: transparent !important;
    border: none !important;
    color: #222;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  &::placeholder {
    color: #7a817b;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: right;
    background: transparent;
    border: none;
  }
}

@media (max-width: 767px) {
  .searchForm {
    background: var(--background);
    border: none;
  }

  .searchInput {
    color: #333;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #ccc;
    &::placeholder {
      color: #999;
    }
  }

  .searchIcon,
  .selectArrow {
    filter: brightness(0) invert(0.2); /* Ajusta os ícones para o fundo claro */
  }

  .categoryButton {
    color: #333;
    border-color: #ccc;
  }
}

